{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}
<h1>Užsakymas Nr. {{ order.pk }}</h1>
<p><strong>Data: </strong>{{ order.date }}</p>
<p><strong>Terminas: </strong><span class="{% if order.is_overdue %}text-danger{% endif %}">{{ order.deadline }}</span>
</p>
<p><strong>Automobilis: </strong>{{ order.car }}</p>
<p><strong>Klientas: </strong>
    <img class="rounded-circle account-img" style="width: 30px" src="{{ order.user.photo.url }}">
    {{ order.user }}
</p>
<p><strong>Būsena: </strong>{{ order.get_status_display }}</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
    <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.line_sum }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><strong>Bendra suma: </strong></td>
        <td><strong>{{ order.total }}</strong></td>
    </tr>
    </tbody>
</table>

<h2>Komentarai:</h2>
{% if user.is_authenticated %}
<h2>Palikite atsiliepimą</h2>
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Paskelbti</button>
</form>
{% endif %}
{% for comment in order.comments.all %}
<p>
    <img class="rounded-circle account-img" style="width: 30px" src="{{ comment.author.photo.url }}">
    <strong>{{ comment.author }}</strong>,
    <em>{{ comment.date_created }}</em></p>
<p>{{ comment.content }}</p>
<hr>
{% empty %}
<p>Nėra komentarų</p>
{% endfor %}
{% endblock %}